table {
  width: 100%;
}

table.red-theme {
  background-color: #ef5350 !important;
  color: #ffffff !important; 
}

table.blue-theme {
  background-color: #5C6BC0 !important;
  color: #ffffff !important; 
}